    <link rel="stylesheet" href="/css/q8style.css">
    <div class="footer">
        Click Here for<a href="/privacy"> Privacy/Disclaimer Statement</a> <br>
        <p>2024 @PerfectMatch</p>
    </div>
    <script src="/js/q8.js"></script>
