<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Question 8</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/q8style.css">
</head>

<body>
    <div class="header">
        <table>
            <tr>
                <th>Perfect Match: Adopt Now!</th>
                <th><a href="/"><img style="height:100px" src="/images/images_q8/paws.png" alt="cat paw"></a></th>
            </tr>
        </table>
        <div class="date-time" id="date"></div>
    </div>

    <div class="sidenav">
        <a href="/">Home Page</a> 
        <a href="/find_pet">Find a cat/dog</a>
        <a href="/dog_care">Dog Care</a>
        <a href="/cat_care">Cat Care</a>
        <a href="/giveaway">Have a Pet to Give away</a>
        <a href="/contactUs">Contact Us</a>
        <a href="/privacy">Policies and Privacy</a>
        <a href="/create_account" style="color:rgb(23, 27, 252); text-decoration: underline; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Create an Account</a>
        <a href="/login" style="color:rgb(23, 27, 252); text-decoration: underline; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Log In</a>
        <a href="/logout" style="color:rgb(23, 27, 252); text-decoration: underline; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Log Out</a>
    </div>
      
