<!-- views/cat_care.ejs -->
<%- include('partials/header') %>
<div class="main">
    <h1>Tips and Tricks to Taking Care of your Cat</h1>
    <h3>Feeding</h3>
    <p> We recommend purchasing high-quality, brand-name kitten or cat food.
        Your veterinarian will be able to assess your new cat or kitten and determine the best diet.
        Factors such as age, activity level and health make a difference in what and how much a cat should eat.
    </p>
    <ul>
        <li>Cats require taurine, an essential amino acid, for heart and eye health.
            The food you choose should be balanced for the life stage of your cat or kitten.
            Properly balanced foods will contain taurine</li>
        <li>You will need to provide fresh, clean water at all times, and wash and refill your cat's water bowls
            daily.</li>
        <li>Treats should be no more than 5-10% of the diet</li>
        <li>Many people feed baby food to a cat or kitten who is refusing food or not feeling well
            Please read labels carefully: If the baby food contains onion or garlic powder, your pet could be
            poisoned.</li>
        <li>Please visit <a href="https://www.aspca.org/pet-care/animal-poison-control/people-foods-avoid-feeding-your-pets">
            People Foods to Avoid Feeding Your Pets page </a> for a list of off-limits items, as well as <a
            href="https://www.aspca.org/pet-care/cat-care/cat-nutrition-tips"> Cat Nutrition Tips page </a>
            for more information.</li>
    </ul>
    <h3>Grooming</h3>
    <p> Most cats stay relatively clean and rarely need a bath, but you should brush or comb your cat regularly.
        Frequent brushing helps keep your cat's coat clean, reduces the amount of shedding and cuts down on the
        incidence of hairballs.
        Please visit the <a href="https://www.aspca.org/pet-care/cat-care/cat-grooming-tips"> Cat Grooming Tips
            page</a> for more information.</p>
    <h3>Housing</h3>
    <p>Your pet should have her own clean, dry place in your home to sleep and rest. Line your cat's bed with a
        soft, warm blanket or towel.
        Be sure to wash the bedding often. Please keep your cat indoors. Outdoor cats do not live as long as
        indoor cats. Outdoor cats are at risk of trauma from cars, or from fights with other cats, raccoons and
        free-roaming dogs. Coyotes are known to eat cats.
        Outdoor cats are more likely to become infested with fleas or ticks, as well as contract infectious
        diseases.</p>
    <h3>Scratching</h3>
    <p> Cats need to scratch! When a cat scratches, the old outer nail sheath is pulled off and the sharp,
        smooth claws underneath are exposed.
        Cutting your cat's nails every two to three weeks will keep them relatively blunt and less likely to
        harm the arms of both humans and furniture.</p>
    
    <h3>To Know More</h3>
    <p> All information from this page is taken from this <a href="https://www.aspca.org/pet-care/cat-care/general-cat-care">website</a>. Consult it to learn more about tricks and tips about taking care of a cat.</p>
</div>
<%- include('partials/footer') %>
