<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/q8style.css"> 
</head>

<body>
    <%- include('partials/header') %> 

    <div class="main">
        <h1>About Us!</h1>
        <p>Contact us:<br><br>
        Email: danmaihosi23@gmail.com<br>
        ID: 40565258<br>
        Phone: 514-586-1561<br>
        Address: 4602 rue St-Catherine, Montreal, QC, Canada X7T 4F5</p>
    </div>

    <%- include('partials/footer') %> 
    <script src="/js/q8.js"></script> 
</body>
</html>
