<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dog Care Tips</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/q8style.css">
</head>

<body>
    <%- include('partials/header') %>

    <div class="main">
        <h1>Tips and Tricks to Taking Care of Your Dog</h1>
        <h3>Feeding</h3>
        <ul>
            <li>Puppies 8-12 weeks need 4 meals a day</li>
            <li>Puppies 3-6 months need 3 meals a day</li>
            <li>Puppies 6 months - 1 year need 2 meals a day</li>
            <li>When your dog reaches 1 year old, 1 meal a day is usually enough.</li>
            <li>For some dogs, including larger canines or those prone to bloat, it's better to feed two smaller meals</li>
        </ul>
        <p>
            Premium-quality dry food provides a well-balanced diet for adult dogs and may be mixed with water, broth or canned food. 
            Your dog may enjoy cottage cheese, cooked egg or fruits and vegetables, but these additions should not total more than ten percent of his daily food intake.
        </p>
        
        <h3>Brushing Your Dog</h3>
        <p>
            Regular grooming with a brush or comb will help keep your pet's hair in good condition by removing dirt, spreading natural oils throughout her coat, preventing tangles, and keeping her skin clean and irritant-free. 
            Plus, grooming time is a great time to check for fleas and flea dirt—those little black specks that indicate your pet is playing host to a flea family.
        </p>
        
        <h3>Grooming</h3>
        <p>
            Help keep your dog clean and reduce shedding with frequent brushing. Check for fleas and ticks daily during warm weather.
            Most dogs don't need to be bathed more than a few times a year. Before bathing, comb or cut out all mats from the coat. Carefully rinse all soap out of the coat, or the dirt will stick to soap residue.
            Please visit this <a href="https://www.aspca.org/pet-care/dog-care/dog-grooming-tips">Dog Grooming Tips page</a> for more information.
        </p>
        
        <h3>Exercise</h3>
        <p>
            Dogs need exercise to burn calories, stimulate their minds, and stay healthy. Individual exercise needs vary based on breed or breed mix, sex, age, and level of health.
            Exercise also helps dogs avoid boredom, which can lead to destructive behaviors. Supervised fun and games will satisfy many of your pet's instinctual urges to dig, herd, chew, retrieve, and chase.
        </p>
        
        <h3>Housing</h3>
        <p>
            Your pet needs a warm, quiet place to rest, away from all drafts and off the floor. A training crate or dog bed is ideal, with a clean blanket or pillow placed inside.
            Wash the dog's bedding often. If your dog will be spending a lot of time outdoors, be sure she has access to shade and plenty of cool water in hot weather, and a warm, dry, covered shelter when it's cold.
        </p>
        
        <h3>To Know More</h3>
        <p>Please consult this <a href="https://www.aspca.org/pet-care/dog-care/dog-grooming-tips">website</a> as all information was taken from this site!</p>
    </div>
    
    <%- include('partials/footer') %>
    <script src="/js/q8.js"></script> 
</body>
</html>
