
<%- include('partials/header') %>
<div class="main">
    <h1>Welcome to Perfect Match!</h1>
    <p style="font-size: 15pt;">We believe every cat/dog deserves a loving home. Our mission is to connect you with your perfect feline companion.
    Browse our available cats and dogs and learn about how to take care of them!</p>
    <img src="/images/images_q8/pic1.png" alt="cat and dog picture" width="250" style="display: block; margin: auto">
</div>
<%- include('partials/footer') %>

