<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy and Disclaimer</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Madimi+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/q8style.css"> 
</head>

<body>
    <%- include('partials/header') %> 

    <div class="main">
        <h1>Privacy Policy and Disclaimer</h1>
        <h3>Privacy</h3>
        <p>
            Your privacy is important to us. We are committed to protecting the personal information you share with us. 
            This policy outlines how we collect, use, and safeguard your data. 
            When you visit our website, we may collect information such as your name, email address, and any other details you provide voluntarily. 
            This information is used solely for the purpose of responding to your inquiries, providing services, and improving our website. 
            We do not sell, trade, or share your personal information with third parties without your consent, except as required by law.
        </p>
        <h3>Disclaimer</h3>
        <p>
            The content provided on this website is for informational purposes only. 
            While we strive to keep the information accurate and up-to-date, we make no warranties or representations of any kind about the completeness, 
            accuracy, reliability, suitability, or availability of the website or the information, products, services, or related graphics contained 
            on the website for any purpose. Any reliance you place on such information is strictly at your own risk.
            We are not responsible for any losses or damages, including without limitation, indirect or consequential 
            losses or damages, arising from the use of this website. The inclusion of any links does not necessarily imply 
            a recommendation or endorsement of the views expressed within them. We reserve the right to make changes to the website 
            and these policies at any time without notice. 
            If you have any questions about our privacy practices or disclaimer, please <a href="/contactUs">Contact Us</a> here.
        </p>
    </div>
    
    <%- include('partials/footer') %> 
    <script src="/js/q8.js"></script>
</body>
</html>
